#time {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
}

#date {
    font-size: 1.6em;
    font-weight: 500;
    text-transform: uppercase;
}
.bg-maroon{
    background-color: #8c0418 !important;
    color: #fff;
}

/* Maroon Button */
.btn-maroon {
    background-color: #8c0418 !important;
    color: #fff;
    border-color: #8c0418;
    border-style: solid;
}

/* Maroon Button hover effect */
.btn-maroon:hover {
    background-color: #b30c28 !important;
    border-color: #b30c28;
    color: #fff;
}

/* Maroon Button focus effect */
.btn-maroon:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(140, 4, 24, 0.3);
}

/* Maroon Button active effect */
.btn-maroon:active {
    background-color: #6c0210 !important;
    border-color: #6c0210;
}

/* Maroon Text */
.text-maroon {
    color: #8c0418 !important;
}

/* Maroon Text hover effect */
.text-maroon:hover {
    color: #b30c28 !important;
}

/* Maroon  btn-Outline */
.btn-outline-maroon {
    background: transparent !important;
    color: #8c0418;
    border-color: #8c0418;
}

/* Maroon  btn-Outline hover effect */
.btn-outline-maroon:hover {
    background-color: #8c0418 !important;
    color: #fff !important;
    border-color: #8c0418;
}

/* Maroon  btn-Outline focus effect */
.btn-outline-maroon:focus {
    outline-color: #8c0418;
}

/* Maroon  btn-Outline active effect */
.btn-outline-maroon:active {
    background-color: #8c0418 !important;
    color: #fff;
    border-color: #8c0418;
}

.pup-bg {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-glass {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.nav-item .nav-content.collapse{
    position: relative;
    background:#8c0418;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar-nav .nav-link:focus{
    color: #f6f9ff !important;
    background: #8c0418 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-bottom: #6c0210  1px solid;

}
.sidebar-nav .nav-link:focus.collapsed i,.sidebar-nav .nav-link:focus i {
    color: #f6f9ff;
}
.sidebar-nav .nav-link:focus > .nav-content.collapse li a{
    color: #f6f9ff ;
}
.sidebar-nav .nav-link > .nav-content.collapse li a {
    color: #fff ;
}
.nav-content.collapse li a {
    color: white;
}
.nav-content.collapse li:hover a, .nav-content.collapse li.collapse-active a{
    color: #8c0418 !important;
}
.nav-content.collapse li:hover,.nav-content.collapse li.collapse-active{
    background-color: #fff !important;
}
.nav-content.collapse li{
    border-radius: 4px;
    margin-bottom: 5px;
}
